* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #21331c;
}

.header2 {
    display: flex;
    align-items: center;
}

.header2 p {
    color: white;
    margin: 0 10px;
}

.header2 input {
    border: none;
    background-color: #CBEA7B;
    color: #21331c;
    border-radius: 5px;
    padding: 5px 15px;
}

.pic {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pic input {
    border: none;
    background-color: #CBEA7B;
    color: #21331c;
    border-radius: 5px;
    padding: 10px 15px;
}

.pic .btn {
    background-color: white; 
    border: 1px solid #CBEA7B;
}

.customer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.feature {
    display: flex;
    gap: 30px;
    padding: 5px 15px;
}

.box {
    background-color: #F6FBE9;
    border: 1px #E5F5BD;
    border-radius: 10px;
    padding: 20px;
}

.eksath {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.heading {
}

